APP_ENV=develop
APP_KEY=base64:vS1zVCcOVAAdtBBo8vDmFcU4T5haFZmtl26E90Ec+o0=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://appqa.mad.ec
IMG_HOST=https://www.mad.ec
CUSTOM_STORAGE='/home/raul.flores/public_html/devempresas/madsis'
DB_CONNECTION=siec
DB_HOST=pgadmin.mad.ec
DB_PORT=5432
DB_DATABASE=madsisdev
DB_USERNAME=raul.flores
DB_PASSWORD='Per aspera$'

ZETALIBRA_CONNECTION=zetalibra
ZETALIBRA_HOST=186.4.199.82
ZETALIBRA_PORT=3306
ZETALIBRA_DATABASE=ecuador53
ZETALIBRA_USERNAME=user_induccion
ZETALIBRA_PASSWORD='Induccion@2017'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_DRIVER=sync
SESSION_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mail.mad.ec
MAIL_PORT=587
MAIL_USERNAME=admin
MAIL_PASSWORD='P@ssw0rd1982'
MAIL_ENCRYPTION='tls'

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

LOG_CHANNEL=stack

ROLLBAR_TOKEN=d987685b7efe44c7b748fcd0679255fd
JWT_SECRET=HEAWPMpwrz0TV2hN4MRnZqnsTdXObIqudbowuO4qPjk9KIszd5pAm29M0QvoG9M4
SESSION_LIFETIME=1